h1{
    font-style: italic;
}

.red{
    color: red;
}

#blue{
    color: blue;
}

#divi{
    background-color: yellow;
}

div{
    background-color: red;
    color: blue;
}

.divi{
    background-color: orange;
    font-size: large;
}