div{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(187, 54, 54);
    background-color: aquamarine;
}

.translated{
    transform: perspective(10px) translateZ(-10px);
}

.scaled{
    transform: perspective(10px) scaleZ(2) rotateY(-3deg);
}