p{
    position: static;
}


div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid black;
}
#box3{
    position: relative;
    top: 100px;
    left: 50px;
}

#box4{
    position: sticky;
    top: 0px;
}

/* position ---> static, relative, fixed, absolute */
